.buckets.panel {
  background-color: #334248;
  color: #a0c8cc; }
  .buckets.panel .header {
    padding-top: 45px;
    height: 175px;
    background: blue; }
  .buckets.panel .bucket {
    height: 110px;
    padding: 16px 30px 20px 30px;
    border-bottom: 1px solid #264149;
    border-top: 1px solid #2c434c;
    position: relative; }
    .buckets.panel .bucket.selected {
      background-color: #14303a; }
    .buckets.panel .bucket h2 {
      margin: 0;
      font-size: 100%;
      font-weight: normal;
      float: left;
      line-height: 26px; }
    .buckets.panel .bucket .allocation_amount {
      float: right;
      height: 26px; }
      .buckets.panel .bucket .allocation_amount.allocated {
        color: #84c442; }
    .buckets.panel .bucket input[type="number"] {
      background-color: #243439;
      border-width: 0;
      height: 24px;
      text-align: right;
      font-size: 100%;
      width: 5em;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      border-radius: 0.5em; }
