html, body {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  font-family: sans-serif; }
  @media only screen and (min-width: 1224px) {
    html .nav.bar.container, body .nav.bar.container {
      width: 100%;
      height: 45px;
      background: #f6f8f6;
      position: fixed; }
    html .buckets.panel.container, body .buckets.panel.container {
      width: 35%;
      height: 100%;
      float: left; }
    html .right.panel.container, body .right.panel.container {
      width: 65%;
      height: 100%;
      padding-left: 35%;
      background: orange; } }
