.right.panel.container .cover_photo {
  width: 100%;
  height: 195px;
  padding: 0 0 0 0;
  background-image: url("https://loomio-uploads.s3.amazonaws.com/groups/cover_photos/000/000/002/desktop/croppedenspiralites.jpg?1406163668"); }
.right.panel.container .content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  position: absolute;
  top: 80px;
  max-width: 100%; }
  .right.panel.container .content .banner {
    min-height: 150px;
    /*This is hacky, but workarounds I found were more hacky... Should probly just be replaced with $banner-image-size + $banner-content-gutter */ }
    .right.panel.container .content .banner .banner_image {
      width: 150px;
      height: 150px;
      float: left;
      background-image: url("https://loomio-uploads.s3.amazonaws.com/groups/logos/000/000/002/medium/enspirallogo120.jpg?1406163329");
      background-image: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .right.panel.container .content .banner h1 {
      margin-left: 180px;
      margin-bottom: 10px;
      color: white; }
    .right.panel.container .content .banner h2 {
      margin-left: 180px;
      font-size: 12px;
      color: white; }
    .right.panel.container .content .banner .buttons.container {
      padding-left: 180px;
      max-width: 100%; }
      .right.panel.container .content .banner .buttons.container .button {
        float: left;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 25px; }
        .right.panel.container .content .banner .buttons.container .button i {
          width: 35px;
          height: 35px;
          float: left; }
        .right.panel.container .content .banner .buttons.container .button p {
          font-size: 10px; }
.right.panel.container .overview.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  height: 100%;
  min-height: 800px;
  background: white;
  border-style: solid;
  border-color: #eeeeed;
  border-width: 2px; }
  .right.panel.container .overview.container .title {
    width: 100%;
    height: 70px; }
    .right.panel.container .overview.container .title i {
      float: left;
      padding-top: 30px;
      padding-right: 10px; }
    .right.panel.container .overview.container .title h1 {
      font-weight: 300;
      font-size: 25px;
      line-height: 50px;
      margin-bottom: 0px; }
  .right.panel.container .overview.container #budget_overview_title_icon {
    width: 50px;
    height: 50px;
    float: left; }
  .right.panel.container .overview.container #title_underline {
    width: 100%; }
  .right.panel.container .overview.container .totals.triplet .totals.section {
    float: left;
    width: 240px;
    text-align: center; }
  .right.panel.container .overview.container .totals.triplet vr {
    height: 30px; }
  .right.panel.container .overview.container .progress.triplet .progress.section {
    float: left;
    width: 240px;
    text-align: center; }
