$dark-base: #334248
$text-on-dark-base: #46AFB6

.buckets.panel
  background-color: $dark-base
  color: $text-on-dark-base

  .header
    padding-top: 45px
    height: 175px
    background: blue

  .bucket
    height: 110px
    padding: 20px 30px
    border-bottom: 1px solid #264149
    border-top: 1px solid #2C434C